In [1]:
import pymongo

In [2]:
client = pymongo.MongoClient('localhost',27017)

In [3]:
db = client['chapter3']

In [4]:
collection = db['income']

In [5]:
with open('income_header.txt') as f_in:
    columns_headings = f_in.readline()

In [6]:
columns_headings

'age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,label'

In [7]:
columns_headings_list = columns_headings.split(',')

In [8]:
columns_headings_list

['age',
 'workclass',
 'fnlwgt',
 'education',
 'education-num',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 'native-country',
 'label']

In [9]:
row_dict_list = list()
with open('income.txt') as f_in:
    for line in f_in:
        row_list = line.rstrip('\n').split(',')
        row_dict = dict(zip(columns_headings_list, row_list))
        row_dict_list.append(row_dict)
        collection.insert_one(row_dict)

In [10]:
collection.count_documents({})

65124

In [11]:
age39 = collection.find_one({'age':39})

In [12]:
age39

In [13]:
row_dict_list[0]

{'age': '39',
 'workclass': ' State-gov',
 'fnlwgt': ' 77516',
 'education': ' Bachelors',
 'education-num': ' 13',
 'marital-status': ' Never-married',
 'occupation': ' Adm-clerical',
 'relationship': ' Not-in-family',
 'race': ' White',
 'sex': ' Male',
 'capital-gain': ' 2174',
 'capital-loss': ' 0',
 'hours-per-week': ' 40',
 'native-country': ' United-States',
 'label': ' <=50K',
 '_id': ObjectId('628f12598e588b00968c84a2')}

In [14]:
collection.find_one({})

{'_id': ObjectId('628f10d7b68831bacb7a3a31'),
 'age': '39',
 'workclass': ' State-gov',
 'fnlwgt': ' 77516',
 'education': ' Bachelors',
 'education-num': ' 13',
 'marital-status': ' Never-married',
 'occupation': ' Adm-clerical',
 'relationship': ' Not-in-family',
 'race': ' White',
 'sex': ' Male',
 'capital-gain': ' 2174',
 'capital-loss': ' 0',
 'hours-per-week': ' 40',
 'native-country': ' United-States',
 'label': ' <=50K'}

In [15]:
collection.delete_many({})
with open('income.txt') as f_in:
    for line in f_in:
        row_list = line.rstrip('\n').split(',')
        row_dict = dict(zip(columns_headings_list, row_list))
        try:
            row_dict['age'] = int(row_dict['age'])
            collection.insert_one(row_dict)
        except:
            pass

In [16]:
over_35 = collection.find({'age': {"$gt" : 35}})

In [17]:
type(over_35)

pymongo.cursor.Cursor

In [18]:
over_35.next()

{'_id': ObjectId('628f13e38e588b00968d03d4'),
 'age': 39,
 'workclass': ' State-gov',
 'fnlwgt': ' 77516',
 'education': ' Bachelors',
 'education-num': ' 13',
 'marital-status': ' Never-married',
 'occupation': ' Adm-clerical',
 'relationship': ' Not-in-family',
 'race': ' White',
 'sex': ' Male',
 'capital-gain': ' 2174',
 'capital-loss': ' 0',
 'hours-per-week': ' 40',
 'native-country': ' United-States',
 'label': ' <=50K'}

In [32]:
collection.count_documents({'age': {"$gt" : 35}})

17636

In [33]:
import time

In [34]:
start = time.time()
age50 = collection.find({'age':{"$eq:50"}})
end = time.time()
print(end-start)

0.0

In [35]:
index_result = db.profiles.create_index([('age',pymongo.ASCENDING)],unique=False)

In [36]:
start = time.time()
age45 = collection.find({'age':{"$eq:45"}})
end = time.time()
print(end-start)

0.0